<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<nunit>
		<parallelizable>
			<test-assembly/>
		</parallelizable>
		<test-suite type ="TestFixture" name="Graoup1">
			<test-case name="Test_IsInAlphabet1"/>
			<test-case name="Test_IsInAlphabet2"/>
			<test-case name="Test_ReadFile"/>
			<test-case name="Test_NumOfConsonants"/>
		</test-suite>
		<test-suite type ="TestFixture" name="Graoup2">
			<test-case name="Test_IsInAlphabet2"/>
			<test-case name="Test_ReadFile"/>
			<test-case name="Test_Main"/>
		</test-suite>
		<test-suite type ="TestFixture" name="Graoup3">
			<filter>
				<test>
					//*[name()='test-case' and ancestor::*[name()='test-suite' and @name='Group1']
					and not(ancestor::*[name()='test-suite' and @name='Group2'])]
				</test>
			</filter>
		</test-suite>
	</nunit>
</configuration>